asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2023.11.17
distlib==0.3.8
Django==4.2.17
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.13.1
gunicorn==23.0.0
packaging==25.0
pipenv==2023.11.15
platformdirs==4.1.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
virtualenv==20.25.0
whitenoise==6.7.0
