
p {
  font-family: Georgia, serif;
}

.scroll-container {
  display: inline-block;
  animation: scroll-right-to-left 20s linear infinite;
  white-space: nowrap;
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-50%);
  }
}

