.menu{
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    height: 94vh;
}
.logo {

    text-align: center;
    padding: 0px;
    color: #27374d;
    align-items: center;
    display:flex;
    gap: 0px;

}

.logo-icon {
    font-size: 1.4rem;
}

.menu--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:1.0rem ;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;
}

.menu--list .item:hover,
.active{
    background: #0280ef72;
    color: #dde6ed;
}